In [3]:
fruits = ["pomme", "banane"]
fruits.extend(("cerise", "mangue"))
print(fruits)  # ['pomme', 'banane', 'cerise', 'mangue']

['pomme', 'banane', 'cerise', 'mangue']

In [14]:
notes = [12, 15, 14, 10, 18, 20, 8]
notes_sup_15 = []
for i in notes:
    if i>=15 :
        notes_sup_15.append(i)

notes_sup_15

[15, 18, 20]

In [15]:
notes.sort(reverse=True)
notes

[20, 18, 15, 14, 12, 10, 8]

In [16]:
notes.pop()

8

In [17]:
notes

[20, 18, 15, 14, 12, 10]

In [18]:
for i in range(4):
    print("i a pour valeur", i)

i a pour valeur 0
i a pour valeur 1
i a pour valeur 2
i a pour valeur 3

In [ ]:
tup=(
    (20, 18, 15), 
    ( 14, 12, 10)
    )

tup[0][:] #(20, 18, 15)

In [22]:
tup[0][:]

(20, 18, 15)